<header>
</header>
<main>

    <div class="container">
        <div class="row mt-3 mb-3">
            <div class="col d-flex justify-content-end enunciados">
                <span class="align-middle">
                    <i class="fa-solid fa-clock" title="Ultima atualização"></i>
                </span>
                <small class="px-2">
                    <span class="align-middle">
                        <b>{{dados?.data || ''}}</b>
                    </span>
                </small>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col d-flex justify-content-center">
                <img src="assets/imgs/logo_fraldasotto.png" alt="logo fraldas otto">
            </div>
        </div>

        <div class="row about-title d-flex align-content-center flex-wrap px-3">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" scope="col" style="width: 10%">Tamanho</th>
                        <th class="text-center" scope="col" style="width: 30%">Estoque</th>
                        <th class="text-center" scope="col" style="width: 30%">Utilizadas</th>
                        <th class="text-center" scope="col" style="width: 30%">Restantes</th>
                    </tr>
                </thead>
                <tbody>
                    @for (d of dados?.relatorio; track $index) {
                    <tr>
                        <td class="text-center">{{d.tamanho || ''}}</td>
                        <td class="text-end">{{d.fraldas.estoque || 0}}</td>
                        <td class="text-end">{{d.fraldas.utilizadas || 0}}</td>
                        <td class="text-end">{{d.fraldas.restantes || 0}}</td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</main>
<footer class="text-center px-4">
    <app-footer/>
</footer>